@import "./generic/_reset.css";
@import "./settings/_variables.css";
@import "./settings/_typography.css";
@import "./settings/_base.css";
@import "./elements/_nav.css";



/* @media (min-width: 769px){
    .nav__btn{
     color:red
     }
     .nav__rightSide{
     }

} */

.wrapper--main {
}

.main__h1 {
  color: var(--color-white);
  font-size: clamp(3rem, 10vw, 13rem);
  letter-spacing: 0.5rem;
  margin: 12vh auto;
  text-align: center;
}
