body {
  font-size: var(--font-size-primary);
  height: 100vh;
  background-image: url("../../asets/pexels-andre-moura-3293037.jpg");
  background-size: cover;
}

.wrapper {
  margin: 0 auto;
  width: clamp(280px, 100%, 1130px);
  padding: 0 var(--space-primary);
}

button,
input,
a {
  cursor: pointer;
}

button {
  border: 0;
  display: block;
}

/* a:hover {
  outline: 1px solid var(--color-white);
}

button:focus,
a:focus {
  outline: 1px solid var(--color-white);
} */
