body {
  font-size: var(--font-size-primary);
  height: 100vh;
  background-image: url("../../asets/background_small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  @media (min-width: 700px) {
    background-image: url("../../asets/background_large.jpg");
  }
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  margin: 0 auto;
  width: clamp(280px, 100%, 1130px);
  padding: 0 var(--space-primary);
}

button,
input,
a {
  cursor: pointer;
}

button {
  border: 0;
  display: block;
}
