@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap');

:root {
  --font-family-main: 'Open Sans', sans-serif;
  --font-weight-normal: 500;
  --font-weight-bold: 800;
 --space-primary: 3rem;

  --color-primary: rgb(200, 200, 200);
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
}
