.charts {
  height: 50%;
}

.wrapper--charts {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.charts__container {
  width: 100%;
  height: 35vh;
  overflow-y: auto;
}

.charts__slider {
  width: 200%;
  height: 100%;
  display: flex;
  background-color: var(--color-white);
}

#chartBarMessage,
#chartDoughtMessage {
  margin-left: 5%;
}
.chartBox {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.chartBox--bar,
.chartBox--dought {
  text-align: center;
}

#chartBar,
#chartDought {
  margin: 0 auto;
}

@media (min-width: 769px) {
  .charts__slider {
    width: 100%;
  }
  .chartBox--bar {
    width: 70%;
  }
  #chartBar {
    width: 80%;
  }

  .chartBox--dought {
    width: 30%;
  }
}
